altair @ file:///croot/altair_1743016723624/work
attrs @ file:///croot/attrs_1734533101012/work
blinker @ file:///croot/blinker_1737448726027/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
CacheControl==0.14.2
cachetools @ file:///croot/cachetools_1738224668060/work
certifi @ file:///croot/certifi_1738623731865/work/certifi
cffi==1.17.1
chardet==5.2.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///croot/click_1744271578095/work
cryptography==44.0.2
firebase-admin==6.7.0
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///work/perseverance-python-buildout/croot/gitpython_1728388535253/work
google-api-core==2.25.0rc0
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.2
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.71.0
grpcio-status==1.71.0
httplib2==0.22.0
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
jsonschema @ file:///io/perseverance-python-buildout/croot/jsonschema_1731700598024/work
jsonschema-specifications @ file:///io/perseverance-python-buildout/croot/jsonschema-specifications_1731700488901/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
msgpack==1.1.0
narwhals @ file:///croot/narwhals_1742845957875/work
numexpr @ file:///io/perseverance-python-buildout/croot/numexpr_1731701292781/work
numpy @ file:///croot/numpy_and_numpy_base_1742570410886/work/dist/numpy-2.2.4-cp313-cp313-linux_x86_64.whl#sha256=43a25b5608f18d082ab87d93bfe1d3f81291081034af07ffcb713a904a363b75
packaging @ file:///croot/packaging_1734472117206/work
pandas @ file:///croot/pandas_1732735089971/work/dist/pandas-2.2.3-cp313-cp313-linux_x86_64.whl#sha256=248baa16b8f7b48e3a9c0e641fba9a72bce9c95c0dddf7c9a7547016b61fe3fb
pdf2image==1.17.0
pillow @ file:///croot/pillow_1744613067434/work
proto-plus==1.26.1
protobuf @ file:///croot/protobuf_1742419705443/work/bazel-bin/python/dist/protobuf-5.29.3-cp313-abi3-linux_x86_64.whl#sha256=e3cf18ebdc1833edadeb0b91088f8bff7c0957fbcc29f9faa4900cb1e2d91337
pyarrow @ file:///croot/pyarrow_1738229418212/work/python
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydeck @ file:///croot/pydeck_1738340956155/work
PyJWT==2.10.1
pyparsing==3.2.3
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728386193338/work
pytesseract==0.3.13
python-dateutil @ file:///work/perseverance-python-buildout/croot/python-dateutil_1728385355105/work
pytz @ file:///work/perseverance-python-buildout/croot/pytz_1728386814080/work
PyYAML @ file:///croot/pyyaml_1731006091482/work
qrcode==8.1
referencing @ file:///io/perseverance-python-buildout/croot/referencing_1731700447964/work
reportlab==4.4.0
requests @ file:///croot/requests_1730999120400/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
rsa==4.9.1
setuptools==72.1.0
six @ file:///croot/six_1744271502820/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
streamlit @ file:///croot/streamlit-split_1743683291040/work/streamlit
tenacity @ file:///io/perseverance-python-buildout/croot/tenacity_1731704959105/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///io/buildout/croot/tornado_1735842129908/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
uritemplate==4.1.1
urllib3 @ file:///croot/urllib3_1737133630106/work
watchdog @ file:///croot/watchdog_1740409902579/work
wheel==0.45.1
